# Default environment variables for docker-compose
POSTGRES_USER= # database username
POSTGRES_PASSWORD= # database password
POSTGRES_DB= # database name

# Used by the backend service
DATABASE_URL= # postgresql://<username>:<password>@db:5432/<database_name>

# LLM provider API key
LLM_PROVIDER_KEY= # your LLM provider API key
